<form action="/" method="post">
  <select id="categories" name="categoryOption" class="form-select" onchange="this.form.submit()">
    <option selected>選取以查看細項</option>
    {{#each category}}
    <option value={{this._id}}"">{{this.name}}</option>
    {{/each}}
  </select>
</form>
<div class="my-4 d-flex flex-row justify-content-evenly">
  <h4>總金額：</h4>
  <h2>{{totalAmount}}</h2>
</div>
<div class="row">
  <ul class="list-group">
   {{#each records}}
    <li class="list-group-item d-flex">
      <div class="col-1 d-flex justify-content-center align-items-center">
        <i class="fa-solid {{this.categoryId.icon}} fa-2xl"></i>
      </div>
      <div class="col-8 d-flex flex-column">
        <span class="fs-4 fw-bold">{{this.name}}</span>
        <span class="fs-6 fw-light">{{this.date}}</span>
      </div>
      <div class="col-3 d-flex justify-content-end h-60 my-2">
        <a href="/item/edit" class="btn btn-success me-2">編輯</a>
        <a href="/item/delete" class="btn btn-danger">刪除</a>
      </div>
    </li>
    {{/each}}
  </ul>
  <a href="/item/new" class="btn btn-info mt-5">新增支出</a>
</div>
